Data/Zhang_rho_db.mat
Data/Anc/
Data/Sample_Data/L*/
Data/Sample_Data/Reports/
Data/Sample_Data/Photos/
Plots/
Logs/
Config/*
!Config/sample_Calibration/
!Config/sample*
.vscode/
.DS_Store
.pylintrc
Source/.DS_Store
*.pyc
*.log

runtest.py
run_NASA*.py
