# pyenv
.python-version

# vscode
.vscode/

# Backup stores
~*
*.py~

# HyperCP
.gitignore
Data/Zhang_rho_db.mat
Data/Anc/
Data/L*/
Data/Sample_Data/L*/
Data/Reports/
Data/Sample_Data/Reports/
Data/Photos/
Plots/
Logs/
Config/*
*.cfg
*.hdr

Data/FidRadDB_characterization/
.pylintrc
*.pyc
*.log
runtest.py
run_*.py
!run_sample.py

# copernicus url and keys
.cdsapirc
#.ecmwf_api_config

#ignore ".idea/" if working with pycharm:
.idea/
