appdirs
asteval==1.0.8
attrs 
bokeh 
Brotli 
cached-property
cdsapi 
certifi
cftime 
charset-normalizer
click
cloudpickle 
colorama 
comet_maths==1.0.3
contourpy
cycler
cytoolz
dask
defusedxml==0.7.1
dill==0.4.1
distributed
docutils 
ecmwf-datastores-client
fonttools
fpdf2==2.8.7
fsspec 
h5py
httpretty 
idna
importlib_metadata 
j6s
Jinja2
joblib==1.5.3
kiwisolver
lmfit==1.3.4
locket
lz4 
MarkupSafe
matplotlib==3.10.8
msgpack 
multiurl
munkres==1.1.4
narwhals
netCDF4 
numdifftools==0.9.40
numexpr
numpy
obsarray==1.0.3
ocdb
packaging
pandas
partd
pillow
platformdirs
ply 
pooch 
psutil
punpy==1.0.3
pyarrow==23.0.1
pyarrow-hotfix 
pyparsing 
PyQt5==5.15.11
PyQt5_sip
pyqtgraph
PySide6
PySocks 
pysolar 
pyspectral
python-dateutil
python-geotiepoints 
pytz
PyYAML
requests
scikit-learn==1.8.0
scipy
shiboken6==6.10.2
sip
six
sortedcontainers
tables==3.7.0
tblib 
threadpoolctl==3.6
tomli 
toolz 
tornado
tqdm 
typing_extensions
uncertainties==3.2
unicodedata2
urllib3
win_inet_pton
xarray
xyzservices
zict 
zipp 
