{"cfgFile": "KORUS.cfg", "inDir": "D:/Dirk/NASA/HyperSAS/Field_Data/Processed/KORUS", "outDir": "D:/Dirk/NASA/HyperSAS/Field_Data/Processed/KORUS", "metFile": "D:/Dirk/NASA/HyperSAS/Field_Data/Processed/KORUS/KORUS_Ancillary.sb", "windFile": "D:/Dirk/NASA/HyperSAS/Field_Data/Processed/KORUS/KORUS_Ancillary.sb"}